<div style="height: 100%; width: 100%; z-index: 13; position: absolute;">
  <div class="xg-login-box-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{['登录IOST钱包','Login to an IOST wallet'][language]}}</h5>
      </div>
      <div class="modal-body text-center">
        <div>
          {{['请登录下面的三个钱包之一:','Please login to one of the following wallets:'][language]}}
        </div>
        <div style="margin-top: 12px;">
          <a target="_blank" href="https://chrome.google.com/webstore/detail/iwallet/kncchdigobghenbbaddojjnnaogfppfj">
            <img src="/assets/images/iwallet.png" width="180px">
          </a>
        </div>
        <div style="margin-top: 12px;">
          <a target="_blank" href="https://chrome.google.com/webstore/detail/jetstream/ijancdlmlahmfgcimhocmpibadokcdfc">
            <img src="/assets/images/jetstream.png" width="180px">
          </a>
        </div>
        <div style="margin-top: 12px;">
          <a target="_blank" href="https://www.tokenpocket.pro">
            <img src="/assets/images/tokenpocket.png" width="180px">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="xg-login-box-background"></div>
</div>
