.xg-vault-manage {
  width: 100%;
  position: absolute;
  height: 100%;
  top:0;
  left: 0;
}

.xg-vault-manage-outerbox {
  width: 380px;
  max-width: 90%;
  padding: 10px;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.xg-vault-manage-pannel {
  border: none;
  padding: 12px 30px;
}

.xg-vault-manage-pannel .row .col {
  padding-right: 4px;
  padding-left: 4px;
}

.xg-vault-manage-pannel .row .col input {
  height: auto;
  background-color: #3A3F44;
  border-color: #3A3F44;
  color: white;
  padding: 0;
}
