.xg-swap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 90%;
}

.xg-swap-container {
  padding: 20px;
  width: 400px;
  max-width: 100%;
  transition: 1s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.xg-swap-pannel {
  border: none;
  padding: 12px 30px;
}

.xg-swap-pannel .row .col {
  padding-right: 4px;
  padding-left: 4px;
}

.xg-swap-pannel .row .col input {
  height: auto;
  background-color: #3A3F44;
  border-color: #3A3F44;
  color: white;
  padding: 0;
}

.xg-swap-reverse {
  margin: 4px;
}

.xg-swap-reverse span {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.xg-swap-reverse span:hover {
  color: white;
}

.xg-swap-info {
  position: relative;
  top: -104px;
  width: 380px;
  max-width: 90%;
  margin: auto;
  padding: 24px 20px 20px 20px;
  background-color: #22282e;
  border: 0;
  z-index: -1;
  visibility: hidden;
  transition: transform 1s;
}

.xg-swap-info.active {
  visibility: visible;
  transform: translate(0px, 100px);
}
